@import 'nullstyle.scss';

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    user-select: none;
    margin: 0 0 40px 0;
    font-size: 30px;
    font-weight: 700;
}

.cards-container{
    display: flex;
    padding: 0 50px;
}

.flipper{
    perspective: 1000px;
}
.flipper.flip .card {
	transform: rotateY(180deg);
}
.card__back, .card__front{
    backface-visibility: hidden;
	position: absolute;
    left: 50px;
    top: 65px;
}

.card{
    border: 2px solid rgb(120, 120, 120);
    border-radius: 10px;
    height: 180px;
    width: 200px;
    transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
    &__front{
        transform: rotateY(180deg);
        width: 100px;
        user-select: none;
        img{
            max-width: 100%;
        }
    }
    &__back{
        z-index: 2;
	    transform: rotateY(0deg);
    }
}

.card.solved{
    visibility: hidden;
}

.winner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    user-select: none;
    &__btn{
        width: 100px;
        padding: 10px 0;
        margin: 40px 0 0 0;
        border: 1px solid gray;
        border-radius: 5px;
        font-weight: 400;
        font-size: 14px;
        transition: 0.3s;
        cursor: pointer;
    }
    &__btn:hover{
        background: rgb(222, 222, 222);
    }
}

@media (max-width: 867px){
    .card{
        height: 120px;
        width: 150px;
        &__front{
            width: 50px;
        }
    }
    .card__back, .card__front{
        left: 50px;
        top: 45px;
    }
}

@media (max-width: 684px){
    .cards-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        height: 150px;
        width: 180px;
        &__front{
            width: 90px;
        }
    }
    .header{
        margin: 30px 0;
    }
}

@media (max-width: 450px){
    .card{
        height: 115px;
        width: 135px;
        &__front{
            width: 65px;
        }
    }
    .cards-container{
        margin: 0 0 40px 0;
    }
    .card__back, .card__front{
        left: 35px;
        top: 40px;
    }
}